*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #bcbcbc;
    overflow-y: hidden;

    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.overlay {
    position: fixed;
    top: 10px;
    left: 10px;

    width: 100vw;
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    flex-grow: 1;
    height: 100vh;

    background-color: white;
}

.key:not(:first-child) {
    border-left: solid 1px black;
}

.key:not(:last-child) {
    border-right: solid 1px black;
}

.key.active {
    background-color: #98fb98;
}
